<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  
  <style>
    body {
      background-color: #000000; /* New background color */
    }
  </style>

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Haoming Cai 
                <h11>/haʊˈmɪŋ tsaɪ/</h11>
              </h1>
              
              <p>I am a thrid-year CS PhD student @ <a href="https://www.cs.umd.edu/">CS Department</a> of University of Maryland, College Park, advised by Professor <a href="https://www.cs.umd.edu/people/metzler">Christopher Metzler</a>.
              </p>
              
              <p>
                Previously, I had a wonderful journey (2020-2022) in <a href="https://xpixel.group/index.html">X-Pixel</a> with my supervisor Prof. <a href="https://scholar.google.com/citations?user=OSDCB0UAAAAJ&hl=en&oi=ao">Dong Chao</a> (Shanghai AI Lab) and mentor Dr.<a herf="https://scholar.google.com/citations?user=uMQ-G-QAAAAJ&hl=en"> Gu Jinjin</a> (Univeristy of Sydney).
              </p>

              <p> Research Interest - Computational Photography, Gen AI and Low-level Vision. </p>

              <p>
                Contact : hmcai@umd.edu / <del>helmut.choy@gmail.com</del> / <del>haomingcai@link.cuhk.edu.cn</del>
              </p>

              <p>
                My Resume [July 2025] : <a href="https://drive.google.com/file/d/1HGxdbC_GyJxCysJYWxOvo_sm9jm29-7K/view?usp=drive_link"><b><u>PDF</u></b></a>
              </p>

              <p style="text-align:center">
                <a href="https://github.com/HaomingCai">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?hl=en&tzom=240&user=Jzs37TkAAAAJ">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.flickr.com/photos/201416778@N04/">Flickr</a> &nbsp;/&nbsp;
              </p>

            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:65%" alt="profile photo" src="images/profile.jpg">
            </td>
          </tr>
        </table>

        <table style="width:100%; border:0px; border-spacing:0px; border-collapse:collapse; margin:auto;">

          <!-- News Title -->
          <tr>
            <td style="padding:5px; width:100%;">
              <p style="font-size:medium; font-weight:bold; margin-bottom:5px;">News</p>
              <hr style="margin:5px 0;">
            </td>
          </tr>
        
          <!-- News Content -->
          <tr>
            <td style="padding:5px; width:100%;">
            <p style="text-align:left; font-size:small; margin:5px 0;"> 
              <strongnews>2025.06</strongnews> – <a href="https://www.hm-cai.com/ShadowDirector/">ShadowDirector</a> accepted to ICCV 2025, demonstrating parametric and intuitive shadow control for Text-2-Image.
            </p>
            <p style="text-align:left; font-size:small; margin:5px 0;">
              <strongnews>2025.06</strongnews> – Named <a href="https://cvpr.thecvf.com/Conferences/2025/ProgramCommittee">Outstanding Reviewer</a> for CVPR 2025. 
            </p>
            <p style="text-align:left; font-size:small; margin:5px 0;">
              <strongnews>2025.05</strongnews> – Joined Adobe NextCam team as summer intern. Mentored by <a href="https://shumianxin.github.io/">Shumian</a> and <a href="https://ztzhang.info/">Zhoutong</a>.
            </p>
            <p style="text-align:left; font-size:small; margin:5px 0;">
              <strongnews>2025.02</strongnews> – Two papers accepted to CVPR 2025. Congratulations to Tianfu, Mingyang, and Jingxi.
            </p>
            </td>
          </tr>
        
        </table>
        

<!-- 
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>
              <br>
              {% if post.arxiv %}
              <small><a href="{{post.arxiv}}">arxiv</a></small>/
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table> -->










        <!-- <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h25>3D Reconstruction in Computational Photography (2023-Now)</h25>
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == '3DPhotography' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>
              <br>
              {% if post.arxiv %}
              <small><a href="{{post.arxiv}}">arxiv</a></small>/
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table> -->


        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          <!-- News Title -->
          <tr>
            <td style="padding:5px; width:100%;">
              <p style="font-size:medium; font-weight:bold; margin-bottom:5px;">Publication (* Indicates Equal Contribtuion)</p>
              <hr style="margin:5px 0;">
            </td>
          </tr>

          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h25>Bridging GenAI and Computational Imaging & Photography (2024-Now)</h25>
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'GenAI' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              {% if post.image contains '.mp4' %}
                <video autoplay muted loop playsinline style="width:auto; height:auto; max-width:85%; display:block; margin:0 auto;">
                  <source src="/tn{{ post.image }}" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              {% else %}
                <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
              {% endif %}
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>
              <br>
              {% if post.arxiv %}
              <small><a href="{{post.arxiv}}">arxiv</a></small>/
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>


      
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h25>Seeing & Tracking & Reconstruction Under Challenging Imaging Condition (2023-Now)</h25>
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'AdverseWeather' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              {% if post.image contains '.mp4' %}
                <video autoplay muted loop playsinline style="width:auto; height:auto; max-width:100%;">
                  <source src="/tn{{ post.image }}" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              {% else %}
                <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
              {% endif %}
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>
              <br>
              {% if post.arxiv %}
              <small><a href="{{post.arxiv}}">arxiv</a></small>/
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>




        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h25>Image Metric Design Inspired by Human Visual System (2020-Now)</h25>
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'IQA' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              {% if post.image contains '.mp4' %}
                <video autoplay muted loop playsinline style="width:auto; height:auto; max-width:100%;">
                  <source src="/tn{{ post.image }}" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              {% else %}
                <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
              {% endif %}
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>
              <br>
              {% if post.arxiv %}
              <small><a href="{{post.arxiv}}">arxiv</a></small>/
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>




        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h25>Controllable & Efficient Image Restoration (2020 - 2022)</h25>
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'SR' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              {% if post.image contains '.mp4' %}
                <video autoplay muted loop playsinline style="width:auto; height:auto; max-width:100%;">
                  <source src="/tn{{ post.image }}" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              {% else %}
                <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
              {% endif %}
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>
              <br>
              {% if post.arxiv %}
              <small><a href="{{post.arxiv}}">arxiv</a></small>/
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>




























        <!-- <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Other Projects</h2>
              <p> These include coursework, side projects and unpublished research work. 
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat != 'research' and cat != 'Intel' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table> -->



<!-- 
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                I am really grateful to my cat (千金 / Qianjin) for her unconditional love and support.
              </p>
            </td>
          </tr>
        </table> -->




        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>


  <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=0e1633&w=100&t=tt&d=QROiebfOxQKem7OOPCmt05uBYxlc-Sm4CCGIwz8gsCk&co=0b4975&cmo=3acc3a&cmn=ff5353&ct=cdd4d9'></script>

</body>

</html>

